<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reading List</title>
</head>

<body onload='document.f.username.focus();'>
<div>
    <h1>Login With Username and Password</h1>
    <div class="error" th:if="${param.error}">
        Incorrect username or password. Try again.
    </div>

    <p>New here? CLick<a th:href="@{/register}">here</a> to register.</p>

    <form id="loginForm" th:action="@{/login}" method='POST'>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username"/><br/>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password"/><br/>

        <input type="submit" value="Login"/>
    </form>
</div>
</body>
</html>